.card {
  padding: 10px 0;

  &__container {
    color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 20px;
    column-gap: 20px;
  }

  &__box {
    margin: 0 auto;
  }

  &__img {
    width: 360px;
    height: 240px;
    transition: all ease-in-out 0.3s;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__text-holder {
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }

  &__heading {
    font-weight: 250;
    margin-bottom: 10px;
  }

  &__prename {
    margin-bottom: 10px;
    color: #00baff;
    font-weight: 800;
  }

  &__price {
    margin-bottom: 20px;
    font-weight: 250;
  }

  &__link {
    text-decoration: none;
    font-weight: 800;
    color: black;
    padding-bottom: 10px;

    &:hover {
      color: #00baff;
    }
  }
}
