.main {
  position: relative;

  &.main::before {
    content: "";
    opacity: 0.6;
    background-image: url("../../img/hero.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
  }

  .hero {
    position: relative;

    &__container {
      max-width: 1440px;
      min-height: 647px;
      padding-top: 1px;

      @include breakpoint("sm") {
        padding: 10px 0 10px;
        min-height: 460px;
      }
    }

    &__text-holder {
      text-align: center;
    }

    &__heading {
      font-size: 55px;
      line-height: 130px;

      @include breakpoint("md") {
        font-size: 40px;
        line-height: 70px;
      }

      @include breakpoint("sm") {
        font-size: 30px;
        line-height: 45px;
      }
    }

    &__holder {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin: 0 25px;

      @include breakpoint("md") {
        justify-content: center;
        flex-direction: column;
      }
    }

    &__desc-holder {
      width: 50%;
      padding-right: 50px;
      font-size: 18px;
      font-weight: 500;

      @include breakpoint("md") {
        padding: 0;
        margin: 0 0 15px;
        width: 100%;
        text-align: center;
      }

      @include breakpoint("sm") {
        font-size: 16px;
        font-weight: 500;
      }
    }

    &__img-holder {
      width: 50%;

      @include breakpoint("md") {
        width: 100%;
      }

      @include breakpoint("sm") {
        width: 80%;
      }
    }
  }
}
