*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: white;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  padding: 0 30px;

  @include breakpoint("md") {
    padding: 0 15px;
  }
}
